<h2 class="hidden">METRONOME</h2>
<div class="metronome">
    <div class="row metronome-content top">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <app-tempo-display [tempo]="this.getTempo()" [runStatus]="this.getAnimation()"></app-tempo-display>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <app-beat></app-beat>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <app-sound></app-sound>
        </div>
    </div>
</div>
